{{- define "main" }}
<main class="full">
	<h1>Search Gotham Documentation</h1>
	<form>
		<input class="search-box" type="text" placeholder="search manuals, guides, and more..." />
	</form>
	<div id="tile-grid">
		<div id="quickstart-tile" class="tile">
			<h3>Get Started with Gotham</h3>
			<p>Quickly jump into Gotham for intermediate and advanced users. Beginners should start with the Gotham Introduction.</p>
		</div>
		<div class="tile">
			<h3>Gotham Documentation</h3>
			<p>Detailed information on how to setup and use Gotham.</p>
		</div>
		<div class="tile">
			<h3>Gotham Developer Docs</h3>
			<p>Documentation for Go developers on how to contribute to Gotham.</p>
		</div>
		<div class="tile">
			<h3>References</h3>
			<p>Detailed information on how to setup and use Gotham.</p>
		</div>
		<div class="tile">
			<h3>Other Resources</h3>
			<p>You can find other information on YouTube, our blog, and around the web.</p>
		</div>
	</div>
</main>
{{ end }}
